{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
{# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>


  <div class="well">
    {{ advert.content }}
      {% if advert.image.webPath is defined %}
        <img  src="{{ asset(advert.image.webPath) }}"  alt="{{ advert.image.alt }}"/>
      {% else %}
        <img src="/symfony/web/uploads/img/18.jpeg" alt="bonne_af.jpeg">
      {% endif %}
  </div>

  <ul>
    {% for application in listApplications %}
      <li>{{ application.content }}
        par {{ application.author }},
        le {{ application.date|date('d/m/Y') }}
      </li>
    {% else %}
      <span style="font-weight:bold"> Pas (encore !) de candidatures</span>
    {% endfor %}
  </ul>

   <ul>
    {% for advertSkill in listAdvertSkill %}
      <li>{{ advertSkill.skill.name }}
        niveau {{ advertSkill.level }} {% if not loop.last %}, {% else %}. {% endif %}
      </li>
    {% else %}
      <li>Pas de compétences requises pour cette annonce !</li>
    {% endfor %}
  </ul>

  {% if not advert.categories.empty %}
  <p>
    Cette annonce est parue dans les catégories suivantes :
    {% for category in advert.categories %}
      {{ category.name }}{% if not loop.last %}, {% else %}. {% endif %}
    {% endfor %}
  </p>
{% endif %}

  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>

    {% if is_granted('ROLE_AUTEUR') %}
    <a href="{{ path('oc_platform_edit', {'id': advert.id, 'slug':advert.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id, 'slug':advert.slug}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
    {% endif %}

  </p>
   

{% endblock %}
